.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.owl-carousel {
  display: flex !important;
}
.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.slider-prev,
.slider-next {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.slider-prev:focus,
.slider-next:focus {
  outline: none;
}

.slider-prev:hover,
.slider-next:hover {
  background-color: rgba(255, 255, 255, 1);
}

.owl-theme .owl-nav [class*="owl-"] {
  background: none;
  color: white;
  font-size: 3rem;
  line-height: 1;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.owl-theme .owl-nav .owl-prev {
  float: left;
}

.owl-theme .owl-nav .owl-next {
  float: right;
}

@media (max-width: 768px) {
  .slider-content {
    flex-direction: column;
  }

  .slide {
    padding: 20px;
  }

  .slider-controls {
    bottom: 10px;
    width: 100%;
  }

  .slider-prev,
  .slider-next {
    font-size: 2rem;
  }
}
